@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
