@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

#header{
    z-index: 999;
    display: flex;
    background: #2696e9;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px; 
    color: #fff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active{
    color: #222;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    background: #222;
    bottom: -5px;
    left: 20px;
}

#section{
    padding: 100px 20px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
} 

.home:before{
    content: '';
    position: absolute;
    z-index: 777;
    width: 100%;
    height: 100%;   
    top: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 700;
    color: #2696e9;
}

.home .content p{
    margin-bottom: 65px;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 60;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #2696e9;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home video{   
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 999;
    position:-webkit-sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 14px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{ 
    transform: scale(1.2);
    color: #2696e9;
}

.section-p1{
    padding: 40px 80px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.3s;
}

.section-m1{
    margin: 40px 0;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 160px;
    text-align: center;
    padding: 25px 17px;
    box-shadow: 20px 20px 33px rgba(10, 10, 10, 0.10);
    border: 1px solid #2696e9;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 15px 15px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #071928;
    background-color: #cce7cc;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdeb67;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #cce7d0;
}

#art1{
    text-align: center;
    color: #222;
}
#art1 .art-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
}

.section-p1 h2{
    font-size: 30px;
    font-weight: 600;
    color: #2696e9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-p1 p{
    font-size: 18px;
    font-weight: 300;
    color: #2696e9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#art1 .art{
    width: 25%;
    min-width: 320px;
    padding: 10px 12px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#art1 .art img{
    width: 100%;
    border-radius: 15px;
}

#art1 .art .des{
    text-align: start;
    padding: 10px 0;
}

#art1 .art .des span{
    color: #606063;
    font-size: 13px;
}

#art1 .art .des h5{
    padding-top: 7px;
    color: #2696e9;
}

#art1 .art .des h4{
    font-size: 8px;
    padding-top: 7px;
    font-weight: 700;
    color: #2696e9;
}

#art1 .art .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #2696e9;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(img/banner007.png);
    width: 1000%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#banner h2{
    color: #071928;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0;
}

#banner h2 span{
    color: blue;
}

#banner button:hover{
    color: #cce7cc;
    background: #2696e9;
}

#sm-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(img/gallery.jpg);
    min-width: 500px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#sm-banner .banner-box2{
    background-image: url(img/african3.jpeg);
}

#sm-banner .banner-box3{
    background-image: url(img/bust2.jpeg);
}

#sm-banner .banner-box4{
    background-image: url(img/louvre.jpeg);
}

#sm-banner h4{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

#sm-banner h2{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

#sm-banner .banner-box:hover button{
    background: #2696e9;
    border: 1px solid #2696e9;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner3.jpeg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #2696e9;
}

#newsletter p{
    font-size: 15px;
    font-weight: 600;
}

#newsletter p span{
    color: #ffbd29;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #2696e9;
    color: #cdd4f8;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}


@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }

    .menu-btn{
        background: url(img/menu-alt-right-regular-24.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active{
        z-index: 999;
        background: url(img/menu-alt-right-regular-24.png)no-repeat;
        background-size: 30px;
        background-position: center;
        transition: 0.3s ease;
    }
}
