@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

#header{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 20px;
    background: #E3E6F3;
    box-shadow: rgba(0, 0, 0, 0.06);
    z-index: 999;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 25px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: #2696e9;
    transition: 0.3s ease;
}


#navbar li a:hover,
#navbar li a.active{
    color: #222;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    position: absolute;
    background: #222;
    width: 0;
    height: 2px;
    bottom: 1px;
    left: 0;
    transition: 0.3s ease
}

#section{
    padding: 100px 20px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
} 

.home:before{
    content: '';
    position: absolute;
    z-index: 777;
    width: 100%;
    height: 100%;   
    top: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 700;
    color: #2696e9;
}

.home .content p{
    margin-bottom: 65px;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 60;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #2696e9;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    border-radius: 2px;
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
}
